
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">View Invoices</li>
  </ol>
  <h1 class="display-4">View Invoices</h1> 
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Invoice Date</th>
            <th>Invoice ID</th>
            <th>Total Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% invoice.forEach(function(invoice){ %>
            <tr>
              <td><%= invoice.id %></td>
              <td><%= invoice.createdAt %></td>
              <td><%= InvoiceService.calculateTotal(invoice.shoppingCart[0].unitPrice, invoice.shoppingCart) %></td>
              <td>
                <a href="/invoice/edit/<%= invoice.id %>" class="btn btn-primary">Edit</a>
                <form class="d-inline" action="/invoice/delete/<%= invoice.id %>" method="POST">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
